@using PagedList.Mvc;
@using PagedList;
@using HocCatToc.Models;
@{
    ViewBag.Title = "Quản Lý Khách Hàng Học Cắt Tóc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    function isMoney(id) {
        $.ajax({
            url: "/Admin/isMoney", type: 'post',
            data: { user_id: id },
            success: function (rs) {
                if (rs == '1') {
                    $("#isMoney_" + id).html("<i>Đã cấp mã học</i>");
                } else {
                    $("#isMoney_" + id).html("<i>Chưa cấp mã học</i>");
                }
            }
        });
    }
</script>
<h2>@ViewBag.Title</h2>
<div id="DialogProduct" style="display:none;" class="col-sm-4 dDialog">
    <div class="dTitle">Chọn Học Viện</div>
    <div class="dDialogContent">
        <select id="up_cp_group_id"></select>
    </div>
    <div class="divBtn">
        <button type="button" class="btn btn-primary" onclick="confirmUpdateGroup();">Cập nhật Học viện cho User này</button>
        <button type="button" class="btn btn-primary" onclick="$('#DialogProduct').hide();">Thoát</button>
    </div>
</div>
<div id="DialogStyleAdmin" style="display:none;" class="col-sm-4 dDialog">
    <div class="dTitle">Chọn Kiểu Admin</div>
    <div class="dDialogContent">
        <select id="up_type_admin">
            <option value="1" selected>Quản lý Học viện</option>
            <option value="2">Super Admin</option>
        </select>
    </div>
    <div class="divBtn">
        <button type="button" class="btn btn-primary" onclick="confirmUpdateAdmin();">Cập nhật</button>
        <button type="button" class="btn btn-primary" onclick="$('#DialogStyleAdmin').hide();">Thoát</button>
    </div>
</div>
<button type="button" class="btn btn-primary" onclick="openCustomer(0)">Thêm Mới</button><br /><br />
<div class="panel-heading">
    <div class="form-inline">
        <div class="form-group">
            <input type="text" id="keyword" class="form-control" placeholder="Nhập số điện thoại hoặc email của khách" value="@ViewBag.k" style="width:360px;" />
            <button onclick="searchCustomer();" class="btn-default btn-info">Tìm Kiếm</button>
        </div>
        @*<div class="form-group">
                <input type="button" value="Tìm Kiếm" class="btn btn-primary" onclick="search();" /><input type="button" value="Export to Excel" class="btn btn-primary" onclick="toexcel();" />
            </div>*@
    </div>
</div>
<table class="table marginBottom0">
    <tr><th>Họ Tên</th><th>Email</th><th>Số Phone</th><th>Ngày Đăng Ký</th><th>Kiểu Thành Viên</th><th></th></tr>
    @foreach (var item in (PagedList<customer>)ViewBag.OnePage)
    {

        <tr>
            <td>
                @item.name                
                <p><span style="color:red;" id="isMoney_@item.id"></span></p>
                <p><span style="color:blue;">Gói Học:@item.group_name</span></p>
                <script>isMoney(@item.id);</script>
            </td>
            <td>@item.email</td>
            <td>@item.phone</td>
            <td>@String.Format("{0:dd/MM/yyyy hh:mm tt}", @item.date_time)</td>
            <td>
                @if (item.is_admin != null)
                {
                    if (item.is_admin == 1)
                    {
                        <p><span style="color:red;"><b>Quản lý gói học</b></span></p>
                    }
                    else
                    {
                        <p><span style="color:red;"><b>Super admin</b></span></p>
                    }
                }
                else
                {
                    <p>
                       Học viên
                    </p>
                }
            </td>
            <td>
                <a href="#" onclick="openCustomer(@item.id, '@item.name', '@item.email','@item.phone',@item.group_id,'@item.group_id_list')">Sửa</a>&nbsp;
                -&nbsp;<a href="#" onclick="confirmDelCustomer(@item.id,'@item.email');">Xóa</a>&nbsp;
                -&nbsp;<a href="#" onclick="generate(@item.id,'@item.group_id_list');">Cung cấp mã học</a>&nbsp;
                -&nbsp;<a href="#" onclick="confirmAdmin(@item.id,@item.is_admin);">Đặt Làm Admin</a>&nbsp;
                -&nbsp;<a href="#" onclick="changeGroup(@item.id,@item.group_id);">Đổi Học Viện</a>
            </td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePage, page => Url.Action("Customer", new { page }))

<div id="CustomerDialog" style="display:none;left:10px;z-index:100000;border:solid 5px;background:#00ffff;" class="col-sm-12 dDialog">
    <div class="dTitle">Thêm/Sửa</div>
    <div class="dDialogContent">
        <div class="col-md-6">
            <input type="hidden" id="cp_ID" />
            <p>Họ Tên</p>
            <input id="cp_name" type="text" class="form-control" placeholder="Họ tên">
            <p>Email</p>
            <input id="cp_email" type="text" class="form-control" placeholder="Nhập email">
            <p>Phone</p>
            <input id="cp_phone" type="text" class="form-control" placeholder="Nhập phone">
        </div>
        <div class="col-md-6">
            <p>Gói học nào? (Giữ Ctrl + các gói nếu video thuộc nhiều gói)</p>
            <select id="cp_group_id" class="form-control" style="height:100px;" data-live-search="true" multiple="multiple"></select>
            <p>Mật khẩu (để trắng nếu là cập nhật thông tin nhưng không muốn đổi mật khẩu)</p>
            <input id="cp_pass" type="password" class="form-control" placeholder="Nhập mật khẩu">
            <p>Nhập Lại Mật khẩu</p>
            <input id="cp_pass2" type="password" class="form-control" placeholder="Nhập lại mật khẩu">
            <div class="divBtn">
                <button type="button" id="btnsaveCustomer" class="btn btn-primary" onclick="saveCustomer()">Đồng Ý</button>
                <button type="button" class="btn btn-primary" onclick="closeDDialog('#CustomerDialog')">Thoát</button>
            </div>
        </div>
    </div>
</div>
<div id="CustomerDialog2" style="display:none;left:10px;z-index:100000;border:solid 5px;background:#00ffff;" class="col-sm-12 dDialog">
    <div class="dTitle">Bạn cấp mã học cho những gói học nào?</div>
    <div class="dDialogContent">        
        <input type="hidden" id="cp_ID2" />
        <div class="col-md-12">
            <p>Gói học nào? (Giữ Ctrl + các gói nếu video thuộc nhiều gói)</p>
            <select id="cp_group_id2" class="form-control" style="height:100px;" data-live-search="true" multiple="multiple"></select>            
            <div class="divBtn">
                <button type="button" id="btnsaveGroup" class="btn btn-primary" onclick="saveGroup();">Đồng Ý</button>
                <button type="button" class="btn btn-primary" onclick="closeDDialog('#CustomerDialog2');">Thoát</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var url_addUpdateCustomer = '@Url.Action("addUpdateCustomer","Admin")', url_deleteCustomer = '@Url.Action("deleteCustomer", "Admin")';
</script>
<script type="text/javascript" src="~/Scripts/Customer.js"></script>
<script>
    var update_user_id = 0;
    
    function changeGroup(id,group_id) {
        update_user_id = id;
        $("#up_cp_group_id").val(group_id);
        $("#DialogProduct").show();
    }
    function confirmUpdateGroup() {
        var group_text = $("#up_cp_group_id option:selected").text();
        $.ajax({
            url: "/Admin/confirmUpdateGroup", type: 'post',
            data: {
                group_id: $("#up_cp_group_id").val(), group_name: group_text, user_id: update_user_id
            },
            success: function (rs) {
                if (rs == "1")
                    alert("Cập nhật thành công");
                location.reload();
            }
        });
    }
    function autofillgroup(val) {
        $.ajax({
            url: "/Admin/getautofillgroup", type: 'get',
            success: function (rs) {
                //alert(rs);
                var json = $.parseJSON(rs);
                if (json.length > 0) {
                    $("#cp_group_id").html("");
                    $("#cp_group_id2").html("");                  
                    for (var i = 0; i < json.length; ++i) {
                        $("#cp_group_id").append("<option value=\"" + json[i].id + "\">" + json[i].group_name + "</option>");
                        $("#cp_group_id2").append("<option value=\"" + json[i].id + "\">" + json[i].group_name + "</option>");                        
                    }
                   
                }
            }
        });
    }
    autofillgroup(1);
    function confirmAdmin(id, val) {
        update_user_id = id;
        $("#up_type_admin").val(val);
        $("#DialogStyleAdmin").show();
        
    }
    function confirmUpdateAdmin() {
        var valid = $("#up_type_admin").val();
        $.ajax({
            url: "/Admin/confirmAdmin", type: 'post',
            data: { id: update_user_id, val: valid },
            success: function (rs) {
                if (rs == '1') {
                    alert("Đã xác nhận quyền: " + $("#up_type_admin option:selected").text());
                    location.reload();
                } else {
                    alert(rs);
                }
            }
        });
    }
</script>