@using PagedList.Mvc;
@using PagedList;
@using HocCatToc.Models;
@{
    ViewBag.Title = "Quản Lý Nhóm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    function isMoney(id) {
        $.ajax({
            url: "/Admin/isMoney", type: 'post',
            data: { user_id: id },
            success: function (rs) {
                if (rs == '1') {
                    $("#isMoney_" + id).html("<i>Đã đóng tiền</i>");
                } else {
                    //$("#isMoney_" + id).html("<i>Đã đóng tiền</i>");
                }
            }
        });
    }
</script>
<h2>@ViewBag.Title</h2>
<button type="button" class="btn btn-primary" onclick="openGroup(0)">Thêm Mới</button><br /><br />
<div class="panel-heading">
    <div class="form-inline">
        <div class="form-group">
            <input type="text" id="keyword" class="form-control" placeholder="Nhập tên" value="@ViewBag.k" style="width:360px;" />
            <button onclick="searchGroup();" class="btn-default btn-info">Tìm Kiếm</button>
        </div>
        @*<div class="form-group">
                <input type="button" value="Tìm Kiếm" class="btn btn-primary" onclick="search();" /><input type="button" value="Export to Excel" class="btn btn-primary" onclick="toexcel();" />
            </div>*@
    </div>
</div>
<table class="table marginBottom0">
    <tr><th>Tên Học Viện</th><th>Email</th><th>Số điện thoại</th><th>Địa chỉ</th></tr>
    @foreach (var item in (PagedList<group>)ViewBag.OnePage)
    {

        <tr>
            <td>
                @item.group_name
            </td>
            <td>@item.email</td>
            <td>@item.phone</td>
            <td>@item.address</td>
            <td><a href="#" onclick="openGroup(@item.id, '@item.group_name', '@item.email','@item.phone','@item.address')">Sửa</a></td>
            <td>@*<a href="#" onclick="confirmDelGroup(@item.id,'@item.email');">Xóa</a>*@</td>            
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePage, page => Url.Action("Group", new { page }))

<div id="GroupDialog" style="display:none;" class="col-sm-4 dDialog">
    <div class="dTitle">Thêm/Sửa</div>
    <div class="dDialogContent">
        <input type="hidden" id="cp_ID" />
        <p>Tên Học Viện</p>
        <input id="cp_group_name" type="text" class="form-control" placeholder="Tên học viện">
        <p>Email</p>
        <input id="cp_email" type="text" class="form-control" placeholder="Nhập email">
        <p>Phone</p>
        <input id="cp_phone" type="text" class="form-control" placeholder="Nhập phone">
        <p>Địa chỉ</p>
        <input id="cp_address" type="text" class="form-control" placeholder="Nhập địa chỉ">
        <div class="divBtn">
            <button type="button" class="btn btn-primary" onclick="saveGroup()">Đồng Ý</button>
            <button type="button" class="btn btn-primary" onclick="closeDDialog('#GroupDialog')">Hủy</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var url_addUpdateGroup = '@Url.Action("addUpdateGroup","Admin")', url_deleteGroup = '@Url.Action("deleteGroup", "Admin")';
</script>
<script type="text/javascript" src="~/Scripts/Group.js"></script>
<script>
    function confirmAdmin(id, val) {
        $.ajax({
            url: "/Admin/confirmAdmin", type: 'post',
            data: { id: id, val: val },
            success: function (rs) {
                if (rs == '1') {
                    alert("Đã xác nhận quyền admin");
                    location.reload();
                } else {
                    alert(rs);
                }
            }
        });
    }

</script>